body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 1px;
  box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.02), inset 0 1px 0 0 hsla(0,0%,100%,.02), inset 0 0 0 1px hsla(0,0%,100%,.02);
  display: none;
}

#header .col-md-2, #header .col-md-8 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#logo {
  border-width: 0 1px 0 0;
  border-style:solid;
  height: 100%;
  font-family: 'Audiowide', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 21px;
  margin-left: 15px;
  overflow: hidden;
  width: 105px;
}

.wallet-toggle-button {
  position: absolute;
  line-height: 1;
  letter-spacing: .33pt;
  height: 51px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  right: 10px;
  width: 200px;
  overflow: hidden;
  border-width: 0 0 0 1px;
  border-style:solid;
}

.wallet-toggle-button:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;
  font-weight: 900;
  margin-left: 7px;
  transition: all .1s;
}

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.wallet-icon {
  margin: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/icon_wallet-unlocked.svg');
}

.wallet-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  text-align: left;
  height: 24px;
  white-space: nowrap;
}

.wallet-label-top {
  font-size: .625rem;
  margin: 0;
}

.wallet-label-bottom {
  font-size: 15px;
  margin: 0;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  overflow: visible;
}

#wallet-logout-button {
  display: none;
}

#content {
  position:absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 90px);
  display: none;
}

.wallet-left {
  position: absolute;
  top: 100px;
  left:25px;
  height: 58%;
  width: 17%;
  border-radius: 10px;
  overflow: hidden;
}

.wallet-left .container-fluid {
  height: 100% !important;
}

.wallet-left .row {
  height: 90px;
  border-width: 1px;
  border-style:solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-left .row-header {
  height: 10% !important;
}

#wallet-connect, #contacts-connect  {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wallet-left-connect, #contacts-right-connect {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 3% 5%;
  cursor: pointer;
}

#wallet-after-connect{
  display: none;
  overflow: hidden;
}

#wallet-erc20-display {
  overflow-y: auto;
  padding: 0 15px;
}

#expenses-after-connect {
  margin: 1%;
  position:absolute;
  right: 350px;
  width: calc(100% - (50px + 18% + 350px));
  height: calc(100% - 50px);
  overflow: hidden;
  display: none;
}

#search-expenses {
  border-radius: 0;
  background: #1c1e2d;
  border: 1px solid rgba(181,187,202,.1);
  box-shadow: none;
}

#search-expenses-advanced {
  position:absolute;
  background: #1c1e2d;
  left:0;
  right:0;
  margin:5px 15px;
  border: 1px solid rgba(181,187,202,.1);
  padding: 1.5rem;
  font-size: 15px;
  display: none;
}

#search-expenses-arrow {
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 20px;
  cursor:pointer;
}

#add-new-expense {
  color:#dc3545;
  font-size:3em;
  cursor:pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

#expense-contacts {
  border:0;
  box-shadow: none;
  border-bottom: 1px solid rgba(181,187,202,.1) !important;
  padding: 0;
  margin-left: 15px;
  border-radius: 0;
  background: transparent;
}

#expense-calendar {
  font-size:2em;
  margin-left:10px;
  cursor:pointer;
}

#expense-bill-split {
  border-radius:0;
  cursor:pointer;
  -webkit-appearance:none;
}

.split-percentage-third-col, .split-unequally-third-col {
  margin-top: -20px;
}

#display-expenses {
  height: 80%;
  overflow: hidden;
}

#display-expenses .container-fluid {
  width: 60%;
  overflow: auto;
}

#display-expenses .row-month,
#display-expenses .row-actual-expense {
  color: black;
  border: 1px solid rgba(181,187,202,.1);
  padding: 10px;
  background: #1c1e2d;
  margin-top: 25px;
  cursor: pointer;
}

#display-expenses .row-month {
  color: #17a2b8 !important;
  font-weight: bold;
  cursor: default !important;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display-expenses .row-desc {
  font-weight: bold;
  color: white;
}

#display-expenses .row-paid {
  color: #6c757d;
}

#display-expenses .fa-receipt {
  font-size: 40px;
  margin-left: -10px;
  color: #17a2b8;
}

#display-expenses .row-expense-loading {
  font-size: 50px;
  color: #17a2b8;
  width: 50px;
  margin: 25px auto;
}

#edit-expense-dialog .search-contact-name,
#add-expense-dialog .search-contact-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-expense-dialog #expense-pic,
#add-expense-dialog #expense-pic {
  height: 100%;
  border-radius: 4px;
  border: 4px dashed rgba(181,187,202,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.15);
  font-size: 30px;
}

#edit-expense-dialog #expense-pic-change,
#add-expense-dialog #expense-pic-change {
  background: rgba(255,255,255,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#edit-expense-dialog #expense-pic:hover #expense-pic-change,
#add-expense-dialog #expense-pic:hover #expense-pic-change {
  z-index: 99;
}

#edit-expense-dialog #expense-no-pic-change,
#add-expense-dialog #expense-no-pic-change {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:99;
}

.row-expense-deleted {
  border-color: #bd2130 !important;
  opacity: 0.5 !important;
}

.contacts {
  position: absolute;
  width: 350px;
  height: 100%;
  right: 0;
  text-align: center;
  padding: 1%;
  border-width: 0 0 0 1px;
  border-style: solid;
}

.contacts .row {
  height: 50px;
  border-width: 1px;
  border-style:solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

#contacts-after-connect .row {
  border: 0 !important;
}

#contacts-after-connect {
  display: none;
  z-index: 10;
  padding: 0 !important;
}

#contacts-after-connect .container-fluid {
  height: 80%;
  overflow: hidden;
  border-bottom: 1px solid rgba(181,187,202,.1);
  padding-right: 0 !important;
}

#contacts-display {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.settle-up-with-contact,
.buy-order {
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3px;
  text-align: center;
}

.select-modal,
.modal-content input,
.modal-content textarea,
.modal-content .input-group-text {
  background: #1c1e2d;
  border: 1px solid rgba(181,187,202,.1);
  cursor: pointer;
 }

#add-new-contact {
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

#footer {
  width: 100%;
  height: 50px;
  position:absolute;
  bottom: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  display: none;
}

.ui-autocomplete {
  z-index: 9999;
  border-radius: 4px;
  padding: 0.5% !important;
}

.dropdown-menu {
  min-width: 21rem !important;
}

.dropdown-menu .table thead th {
  border: 0 !important;
  padding: 10px !important;
}

.dropdown-menu .bootstrap-datetimepicker-widget table th {
  padding: 15px !important;
}

.bootstrap-datetimepicker-widget table td.day {
  padding: 10px !important;
}
