body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 1px;
  box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.02), inset 0 1px 0 0 hsla(0,0%,100%,.02), inset 0 0 0 1px hsla(0,0%,100%,.02);
}

#header .col-md-2, #header .col-md-8 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#logo {
  border-width: 0 1px 0 0;
  border-style:solid;
  height: 100%;
  font-family: 'Audiowide', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 21px;
  margin-left: 15px;
  overflow: hidden;
  width: 105px;
}

.wallet-toggle-button {
  position: absolute;
  line-height: 1;
  letter-spacing: .33pt;
  height: 51px;
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
  right: 10px;
  width: 200px;
  overflow: hidden;
  border-width: 0 0 0 1px;
  border-style:solid;
}

.wallet-toggle-button:after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;
  font-weight: 900;
  margin-left: 7px;
  transition: all .1s;
}

.wallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.wallet-icon {
  margin: 0;
  width: 24px;
  height: 24px;
  background-image: url('../img/icon_wallet-unlocked.svg');
}

.wallet-label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  text-align: left;
  height: 24px;
  white-space: nowrap;
}

.wallet-label-top {
  font-size: .625rem;
  margin: 0;
}

.wallet-label-bottom {
  font-size: 15px;
  margin: 0;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  font-weight: 500;
  overflow: visible;
}

#wallet-logout-button {
  display: none;
}

#content {
  position:absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 90px);
}

.wallet-left {
  position: absolute;
  top: 100px;
  left:25px;
  height: 58%;
  width: 17%;
  border-radius: 10px;
  overflow: hidden;
}

.wallet-left .container-fluid {
  height: 100% !important;
}

.wallet-left .row {
  height: 90px;
  border-width: 1px;
  border-style:solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-left .row-header {
  height: 10% !important;
}

#wallet-connect, #contacts-connect  {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wallet-left-connect, #contacts-right-connect {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  padding: 3% 5%;
  cursor: pointer;
}

#wallet-after-connect{
  display: none;
  overflow: hidden;
}

#wallet-erc20-display {
  overflow-y: auto;
  padding: 0 15px;
}

#expenses-after-connect {
  margin: 1%;
  position:absolute;
  right: 350px;
  width: calc(100% - (50px + 18% + 350px));
  height: calc(100% - 50px);
  overflow: hidden;
  display: none;
}

#add-new-expense {
  color:#dc3545;
  font-size:5em;
  cursor:pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}

#add-expense-dialog span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#expense-calendar {
  font-size:2em;
  margin-left:10px;
  cursor:pointer;
}

.contacts {
  position: absolute;
  width: 350px;
  height: 100%;
  right: 0;
  text-align: center;
  padding: 1%;
  border-width: 0 0 0 1px;
  border-style: solid;
}

.contacts .row {
  height: 50px;
  border-width: 1px;
  border-style:solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

#contacts-after-connect .row {
  border: 0 !important;
}

#contacts-after-connect {
  display: none;
  z-index: 10;
}

#add-new-contact {
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
}

#footer {
  width: 100%;
  height: 50px;
  position:absolute;
  bottom: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.ui-autocomplete {
  z-index: 9999;
  border-radius: 4px;
  padding: 1% !important;
}
